<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='text/html; charset=utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no'>
    <title>TO DO List</title>
    <link rel='stylesheet' href='main.css'>

    <!-- opengraph -->
    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="To Do List" />
    <meta property="og:description" content="할일 목록을 정리하는 사이트" />
    <meta property="og:url" content="https://4off4.github.io/todolistTEST" />
    <meta property="og:site_name" content="To Do List" />
    <meta property="og:image" content="https://4off4.github.io/todolistTEST/home.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:video:width" content="400" />
    <meta property="og:video:height" content="300" />
    <meta property="og:image:alt" content="To Do List Site" />
</head>

<body>
    <div class="app-container" id="tasklist">
        <h1 class="app-header">TO DO List</h1>

        <div class="add-task">
            <input type="text" autocomplete="off" placeholder="Add New Task" class="task-input" v-model="tasks.name" @keyup.enter="newItem">
            <input type="submit" value="" class="submit-task" title="Add Task" @click="newItem">
        </div>

        <ul class="task-list">
            <li class="task-list-item" v-for="task in tasks">
                <label class="task-list-item-label">
                <input type="checkbox">
                <span>{{task.name}}</span>
            </label>
                <span class="delete-btn" title="Delete Task" @click="delItem(task)">{{task.del}}</span>
            </li>
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="main.js"></script>
</body>

</html>


<!-- 참고 : https://www.youtube.com/watch?v=wnMtVD5HaQ0-->